<div>
  <h1 class="font-bold text-8xl text-white">Hello#world</h1>
  <div class="pb-3">
    <ask-it-hello />
  </div>
  <a class="text-purple-400 border-2 border-purple-400 p-2">Hire developers</a>
  <a class="border-lime-300 bg-lime-300 p-2 border-2 border-lime-300">Hire developers</a>

</div>
